Repository mjseok/OSS_team1, pull requests merged in 2020-06, with the labels that each got.

#36 COR:Remove duplicated code
  README.md
Labels: clean code

#40 FORM:Form code block
  Code.c
Labels: clean code

#43 Cleancode/functionalize
  Code.c
Labels: clean code

#46 Feature/play with computer
  Code.c
Labels: enhancement

#49 Cleancode/create new function
  Code.c
Labels: clean code

#54 ENH:Funtionalize code within function
  Code.c
Labels: clean code

#55 FIX:Fix error in game against computer
  Code.c
Labels: bug

#56 ENH:Combine two similar function
  Code.c
Labels: clean code

#66 ENH:Fix code related to file
  Code.c
Labels: clean code, enhancement

#68 COR:Remove infinite loop
  Code.c
Labels: clean code

#69 COR:Change position of variable declaration
  Code.c
Labels: clean code

#72 COR:Fix the details of functions
  Code.c
Labels: clean code

#73 ADD:Add function about input player name
  Code.c
Labels: clean code, enhancement

#76 ADD:Make UI function
  Code.c
Labels: enhancement

#77 ADD:Add leaderboard UI
  README.md
Labels: enhancement

#80 ENH:Functionalize non-functionalized code
  Code.c
Labels: clean code

#81 FORM:Correct code blocks
  Code.c
Labels: clean code

#85 FIX:Comparison warning
  Code.c
Labels: bug

#88 FIX:UI error
  gameboard.c
  ui.c
Labels: bug

#91 COR:Capitalize the name of the constant
  declaration.c
  gameboard.c
  gamesetting.c
  leaderboard.c
  playwithcomputer.c
  playwithfriend.c
  ui.c
Labels: clean code

#94 COR:Modify variable
  leaderboard.c
Labels: clean code
